<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>View Information | Ministry of Foreign Affairs and Foreign Trade</title>
    <link rel="icon" href="static/flag.jpg" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">


    <!-- main css -->
    <link rel="stylesheet" href="{{url_for('static', filename= '/css/ViewInfostyle.css') }}">

</head>

<body>
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620">

            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="media-body">
                            <img src="https://www.foreign.gov.bb/images/logo.png" alt="MINISTRY OF FOREIGN AFFAIRS AND FOREIGN TRADE OF BARBADOS" />
                            <div class="personal_text">
                                <h3 style="background-color: #08318c; color: beige; border-radius: 10px; align-content: center;"> {{queryresult[3]}} {{queryresult[1]}} {{queryresult[2]}}</h3>
                                <h4>Important</h4>
                                <hr>
                                <h4 style="background-color: white; color: #000; font-size: 13px;">The information displayed on this page is an accurate representation of the data that you have provided to the Ministry of Foreign Affairs and Foreign Trade. It is your responsibility to ensure that the information displayed
                                    here is accurate at all times as it is the basis on which the Ministry relates to you in relevant matters. This information can be updated as necessary from your account dashboard.</h4>

                                <h4>Personal Information</h4>
                                <hr>
                                <ul class="list basic_info">
                                    <li><b class="lnr lnr-calendar-full"> Date of Birth (y/m/d) : </b> {{queryresult[5][0:10]}} </li>
                                    <li><b class="lnr lnr-phone-handset">Gender : </b> {{queryresult[4]}} </li>
                                    <li><b class="lnr lnr-envelope">Nationality (Birth) :</b> {{queryresult[6]}}</li>
                                    <li><b class="lnr lnr-home">Passport Number : </b> {{queryresult[7]}}</li>
                                    <li><b class="lnr lnr-home">Country of Issued Passport :</b> {{queryresult[8]}}</li>
                                    <br>
                                    <h4>Address Information</h4>
                                    <hr>
                                    <li><b class="lnr lnr-calendar-full"> Street : </b>{{queryresult[11]}}</li>
                                    <li><b class="lnr lnr-phone-handset">City/Town : </b> {{queryresult[12]}} </li>
                                    <li><b class="lnr lnr-envelope"> Country : </b>{{queryresult[13]}}</li>
                                    <br>
                                    <h4>Contact Information</h4>
                                    <hr>
                                    <li><b class="lnr lnr-calendar-full">Email Address : </b> {{queryresult[0]}}</li>
                                    <li><b class="lnr lnr-phone-handset">Phone Number :</b> {{queryresult[10]}} </li>
                                    <li><b class="lnr lnr-envelope"> WeChat ID :</b> {{queryresult[9]}}</li>
                                    <br>
                                    <h4>Emergency Contact Information</h4>
                                    <hr>
                                    <li><b class="lnr lnr-calendar-full">First Name :</b> {{queryresult[14]}}</li>
                                    <li><b class="lnr lnr-phone-handset">Last Name :</b> {{queryresult[15]}} </li>
                                    <li><b class="lnr lnr-envelope">Relationship : </b>{{queryresult[16]}}</li>
                                    <li><b class="lnr lnr-envelope">Phone Number :</b> {{queryresult[17]}}</li>
                                    <li><b class="lnr lnr-envelope">Email Address : </b>{{queryresult[18]}}</li>
                                </ul>

                                <br>
                                <h4>Occupation Information</h4>
                                <hr> {% if queryresult[20]=='Student' %}
                                <ul class="list basic_info">
                                    <li><b class="lnr lnr-calendar-full">Occupation : </b>{{queryresult[20]}}</li>
                                    <li><b class="lnr lnr-phone-handset">Education Field : </b>{{queryresult[21]}}</li>
                                    <li><b class="lnr lnr-envelope">Education Level : </b> {{queryresult[22]}}</li>
                                    <li><b class="lnr lnr-home">Educational Institution :</b> {{queryresult[23]}}</li>
                                </ul>
                                {% elif queryresult[20]=='Employed' %}
                                <ul class="list basic_info">
                                    <li><b class="lnr lnr-calendar-full">Job Category :</b> {{queryresult[25]}}</li>
                                    <li><b class="lnr lnr-phone-handset">Job Title :</b> {{queryresult[26]}}</li>
                                    <li><b class="lnr lnr-envelope"> Workplace Name :</b> {{queryresult[27]}}</li>
                                </ul>
                                {% else %}
                                <ul class="list basic_info">
                                    <li><b class="lnr lnr-calendar-full">Other Selected Detail: </b>{{queryresult[24]}}</li>

                                    {%endif%}
                                </ul>



                                <br>
                                <h4>Classification Information</h4>
                                <hr>
                                <ul class="list basic_info">
                                    {% if queryresult[19]=='CitizenTO' %}
                                    <li><b class="lnr lnr-calendar-full">Category Selected : Barbadian Citizen Travelling Overseas</b></li>
                                    <br>
                                    <li><b class="lnr lnr-calendar-full">Purpose of Travel :</b> {{queryresult[28]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Description (optional) : </b>{{queryresult[29]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Barbadian Address-Street : </b>{{queryresult[30]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Barbadian Address-City/Town :</b> {{queryresult[31]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Barbadian Address-Parish : </b>{{queryresult[32]}}</li>
                                    <br>

                                    <li><b class="lnr lnr-calendar-full">Destination Address-Street : </b>{{queryresult[33]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Destination Address-City/Town : </b>{{queryresult[34]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Destination Address-State/Parish/County/Province : </b>{{queryresult[35]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Destination Address-Country : </b>{{queryresult[36]}}</li>
                                    <br>

                                    <li><b class="lnr lnr-calendar-full">Emergency Contact Firstname :</b>{{queryresult[37]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Emergency Contact Lastname :</b>{{queryresult[38]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Emergency Contact Phone Number:</b>{{queryresult[39]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Emergency Contact Email :</b>{{queryresult[40]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Emergency Contact Relationship :</b>{{queryresult[41]}}</li>

                                    <br>
                                    <li><b class="lnr lnr-calendar-full">Expected Date of Departure :</b>{{queryresult[42]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Expected Date of Return:</b>{{queryresult[43]}}</li>

                                    <br>
                                    <li><b class="lnr lnr-calendar-full">Residential Phone When Away:</b> {{queryresult[44]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Mobile Phone :</b> {{queryresult[45]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Whatsapp Number :</b> {{queryresult[46]}}</li>
                                    <li><b class="lnr lnr-calendar-full">WeChat ID : </b>{{queryresult[47]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Additional Email:</b>{{queryresult[48]}}</li>
                                    <br> {% elif queryresult[19]=='ResidentO' %}
                                    <li><b class="lnr lnr-calendar-full">Category Selected : Citizen of Barbados Resident Overseas</b></li>
                                    <li><b class="lnr lnr-calendar-full">Address-Street :</b> {{queryresult[49]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Address-State/Parish/County/Province :</b> {{queryresult[50]}}</li>
                                    <li><b class="lnr lnr-phone-handset">Address-City/Town : </b> {{queryresult[51]}} </li>
                                    <li><b class="lnr lnr-envelope">Address-Country :</b> {{queryresult[52]}}</li>
                                    <br>
                                    <li><b class="lnr lnr-calendar-full">Phone Number:</b> {{queryresult[53]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Mobile Phone :</b> {{queryresult[54]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Whatsapp Number :</b> {{queryresult[55]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Areas of Interest:</b> {{queryresult[56]}}</li>
                                    <br> {%elif queryresult[19]=='Friend'%}
                                    <li><b class="lnr lnr-calendar-full">How I know of Barbados :</b> {{queryresult[57]}}</li>
                                    <li><b class="lnr lnr-calendar-full">Areas of Interest:</b> {{queryresult[58]}}</li>

                                    {%else%}
                                    <li><b class="lnr lnr-calendar-full">Category Selected : Not Selected</b></li>
                                    {%endif%}
                                </ul>
                                <br>
                                <h4> Document Tracking (y/m/d) </h4>
                                <hr>
                                <ul class="list basic_info">
                                    <li><b class="lnr lnr-calendar-full">Date Last Updated:</b> {{queryresult[60][0:16]}} hrs</li>
                                    <li><b class="lnr lnr-phone-handset"> Date First Added:</b> {{queryresult[59][0:16]}} hrs</li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

</body>

</html>